.form {
	// .form-input
	&-input {
		display: block;
		width: 100%;
		height: 50px;
		border-radius: 12px;
		border: 2px solid darkgray;
		box-shadow: 0 0 2px $bl-500;
		&:focus {
			outline-color: $bl-500;
		}
	}
	.btn {
		width: 30%;
		background-color: inherit;
		border: 1px solid $bl-500;
		border-radius: 5px;
		height: 50px;
		margin-top: 10px;
	}
}