$guide-color: #B71C1C;
$sites: #263238;
$orange: #FFA726;
$full-stop: #CDE9FE;
$bl-300: #64B5F6;
$bl-500: #2196F3;
$te-500: #00BCD4;
$in-900: #1A237E;
$re-500: #F44336;
$c50: #ECEFF1;
$c100: #CFD8DC;
$c200: #B0BEC5;
$c300: #90A4AE;
$c400: #78909C;
$c500: #607D8B;
$c600: #546E7A;
$c700: #455A64;
$c800: #37474F;
$c900: #000958;
$white: #fff;

$ml: 'montserrat-light';
$mr: 'montserrat-regular';
$mm: 'montserrat-medium';
$ms: 'montserrat-semibold';
$me: 'montserrat-extra';
$mbold: 'montserrat-bold';
$mblack: 'montserrat-black';