@import './imports';
body {
	font-family: $ms;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
}
ul li a {
	text-decoration: none;
}
img {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
}
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}
h1 {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}

h2 {
	font-size: 19px;
	text-align: center;
	margin: 40px 0;
}

span {
	font-weight: bold;
}

.description {
	margin-bottom: 20px;
	text-align: center;
}

.content {
	padding-top: 50px;
	// .content__technology
	&__technology {
		background-color: $sites;
		margin-top: 100px;
		padding: 20px 0 140px;
		.content__title {
			color: $white;
		}
		.card {
			border-radius: 5px;
			border: none;
		}
	}
	// .content__format
	&__format {
		background-color: red;
	}
	// .content__title
	&__title {
		font-family: $ms;
		font-size: 42px;
		line-height: 59px;
		text-align: left;
		margin: 90px 0;
	}
}
.income {
	.content__title {
		margin: 30px 0;
	}
	// .income__text
	&__text {
		font-size: 22px;
		color: $c300;
		span {
			color: $guide-color;
		}
	}
	// .income__charts
	&__charts {
		margin-top: 10px;
	}
	// .income__description
	&__description {
		margin-bottom: 20px;
		color: $c300;
	}
}
.price {
	font-size: 22px;
	margin-bottom: 15px;
	span {
		font-style: italic;
		color:$bl-300;
	}
}
@media(max-width: 1000px) {
	.card {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.content__title {
		margin: 60px 0;
	}
}
@media(max-width: 576px) {
	.banner__title h1 {
		font-size: 32px;
	}
	
	.income__text {
		font-size: 14px;
	}
	.content__title {
		font-size: 26px;
		margin: 20px 0;
	}

	.banner__link {
		max-width: 100%;
	}
	.price {
		font-size: 16px;
	}
	.income__description {
		font-size: 12px;
	}
	.form .btn {
		width: 100%;
	}
}